@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Koulen&family=Montserrat:ital,wght@0,300;1,100&family=Neucha&family=Poppins:ital,wght@0,900;1,100;1,900&family=Quicksand:wght@300&family=Rock+Salt&display=swap');
body{
  background-color: black;
  padding: 25px;
}
.contenedor{
  font-family: 'Montserrat', cursive;
  width: 100%;
  color: white;
  background-color:black;
  margin: auto;
}
.encabezado{
  text-align: center;
}
.imagenes{
  text-align: center;
}
.desarrollo{
  color:white;
  padding: 40px;
}
a{
  color: red;
}
.video{
  text-align: center;
}
.gif{
  text-align: center;
}
.item-m{
  font-size: 20px;
  text-align: center;
    display: inline-block;
    padding: 35px;
}

.item-m a{
  color: white;
  text-decoration: none;
  text-align: center;
  padding: 10px;
}
.item-m a:hover{
  color: white;
  background-color: #DF0404;
  text-decoration: none;
  padding: 10px;


}
.imagen{
  text-align: center;
}

.pie{
font-family: 'Rock Salt', cursive;
    background-color:#DF0404;
    text-align: center;
    color: black;
    height: 100%;
    padding: 30px;

}
